{% extends 'base.html' %}

{% block title %}
	Recipes
{% endblock %}

{% block header %}
    <div class="d-flex justify-content-between mt-5 align-items-center">
        <h1>Recipe list</h1>
        <form class="row g-3" action="{% url "recipe:list" %}">
            <div class="col-auto">
                <input type="search" name="q" class="form-control" id="search" placeholder="Search...">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        <a href="{% url "recipe:create" %}" class="btn btn-primary d-flex text-center justify-content-center">+Add New Recipe</a>

    </div>
{% endblock %}

{% block content %}
    <div class="row mt-5">
    {% if object_list %}
        {% for object in object_list %}
        	<div class="col-md-4">
                <div class="card mb-3">
                  <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.title }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ object.title }}</h5>
                    <h6 class="card-title">Author: {{ object.author }}</h6>
                    <p class="card-text">{{ object.description }}</p>
                      <p>
                        {% for foo in object.tag.all  %}
                            <a href="?tag={{ foo.title }}">#{{ foo.title }}</a>
                        {% endfor %}
                    </p>
                    <p class="card-text"><small class="text-body-secondary">{{ object.created_date }}</small></p>
                    <a href="{% url 'recipe:detail' object.slug %}" class="btn btn-primary">See more</a>
                  </div>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">

            <li class="page-item {% if not object_list.has_previous %}disabled{% endif %}">
              <a class="page-link" href="{% if object_list.has_previous %}?page={{ object_list.previous_page_number }}{% endif %}">Previous</a>
            </li>
              {% for object in object_list.paginator.page_range %}
                <li class="page-item"><a class="page-link {% if object_list.number == object %}active{% endif %}" href="?page={{ object }}">{{ object }}</a></li>
              {% endfor %}

            <li class="page-item {% if not object_list.has_next %}disabled{% endif %}">
              <a class="page-link" href="{% if object_list.has_next %}?page={{ object_list.next_page_number }}{% endif %}">Next</a>
            </li>
          </ul>
        </nav>
    {% else %}
        <h1 class="text-center">Hech narsa topilmadi</h1>
    {% endif %}
    </div>
{% endblock %}